<template>
    <require from="styles/calculator.css"></require>
    <require from="../controls/escape-quotes-value-converter"></require>    
    <require from="./order-table"></require>

    <ai-dialog id="calculator">
        <ai-dialog-body>
            <form class="ui form segment">
                <h4 class="ui dividing header">Requested Order</h4>
                <div class="two fields">
                    <div class="field">
                        <label for="customer">Customer</label>
                        <select name="customer" id="customer">
                            <option value="">Choose Customer</option>
                            <option repeat.for="c of customers" value="${c.name}">${c.name}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Arrival Date</label>
                        <div class="calendar">
                            <span class="date-display">${dateDisplay}</span>
                        </div>
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label for="plant">Plant</label>
                        <select name="plant" id="plant">
                            <option value="">Choose Plant</option>
                            <option repeat.for="p of plants" value.bind="p.name | escapeQuotes">${p.name}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="pots-per-case">Pots Per Case</label>
                        <input type="number" name="pots-per-case" id="pots-per-case" value.bind="calculator.potsPerCase" required>
                    </div>
                    <div class="field">
                        <label for="quantity">Quantity</label>
                        <input type="number" id="quantity" name="quantity" value.bind="calculator.orderQuantity & debounce" required>
                    </div>
                </div>

                <div class="ui divider"></div>

                <div class="three fields">
                    <div class="ui field toggle checkbox">
                        <input type="checkbox" name="root-in-prop-zone" id="root-in-prop-zone" checked.bind="calculator.rootInPropagationZone">
                        <label for="root-in-prop-zone">Root in B/C</label>
                    </div>
                    <div class="ui field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="repeating-order" checked.bind="isRepeatingOrder">
                            <label for="repeating-order">Repeating Order</label>                            
                        </div>
                        <div class="field fields" show.bind="isRepeatingOrder">
                            <div class="ui field inline eight wide">
                                <label for="repeat-count"># times:</label>
                                <input type="number" id="repeat-count" value.bind="repeatCount" style="width: 70px">
                            </div>
                            <div class="ui field inline eight wide">
                                <label for="repeat-days">days apart:</label>
                                <input type="number" id="repeat-days" value.bind="repeatDays" style="width: 70px">
                            </div>
                        </div>
                    </div>
                    <div class="ui field toggle checkbox">
                        <input type="checkbox" name="partial-space" id="partial-space" checked.bind="calculator.partialSpace">
                        <label for="partial-space">Use partial spacing</label>
                    </div>
                </div>
                
                <order-table calculator.bind="calculator"></order-table>
                

                <order-table repeat.for="i of numberRepeats" calculator.bind="repeatCalculators[i]"></order-table>

            </form>
        </ai-dialog-body>
        <ai-dialog-footer>
            <button click.trigger="controller.cancel()">Cancel</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>
