<template>
    <div class.bind="event.readonly ? 'readonly-date' : 'calendar'"  title.bind="event.readonly ? 'The Partial &amp; Full Space events cannot be changed. Change the Lights Out date instead.' : ''">
        ${event.name} <span>(${event.date | dateFormat: 'ddd, MMM D'})</span>
        <i show.bind="event.readonly" class="icon info circle"></i>
        
        <div class="ui dropdown button mini basic" show.bind="calculator.order.stickDate">
            <div class="text">Move</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" repeat.for="zone of calculator.zones" data-value="${zone.name}">${zone.name}</div>
            </div>
        </div>
    </div>
</template>
