<template>
    <ux-dialog id="change-password-dialog">
        <ux-dialog-header>
            <h3>
                <i class="fa fa-key"></i>
                Change Password
            </h3>
        </ux-dialog-header>
        <ux-dialog-body>
            <form class="ui form ${errors.length ? 'error' : ''}">
                <div class="field">
                    <label for="new">Password:</label>
                    <input id="new" type="password" value.bind="newPassword">
                </div>
                <div class="field">
                    <label for="confirm">Confirm:</label>
                    <input id="confirm" type="password" value.bind="confirmPassword">
                </div>
                <div class="ui divider">&nbsp;</div>
                <div class="ui error message" show.bind="errors.length">
                    <div class="ui list" repeat.for="e of errors">
                        <div class="item">${e}</div>
                    </div>
                </div>
            </form>
        </ux-dialog-body>
        <ux-dialog-footer>
            <button class="ui basic button" click.delegate="controller.cancel()">Cancel</button>
            <button class="ui basic primary button" click.delegate="save()">
                <i class="save button icon"></i>
                Save
            </button>
        </ux-dialog-footer>
    </ux-dialog>
</template>