<template>
    <require from="styles/zone-detail.css"></require>

    <button type="button" class="ui icon button red" click.delegate="close()">
        <i class="close icon"></i>
    </button>

    <h1>Zone ${model.zone.name} Details</h1>

    <div class="ui equal width internally celled grid header">
        <div class="equal width row">
            <div class="column">Week</div>
            <div class="column" class="center aligned" repeat.for="plant of model.plants">${plant}</div>
            <div class="column" class="center aligned">Available</div>
        </div>
    </div>
    <div class="ui equal width internally celled grid scroller">
        <div class="equal width row" repeat.for="week of model.weeks">
            <div class="column">${week.weekNumber}</div>
            <div class="column" class="center aligned" repeat.for="plant of week.plants">${plant}</div>
            <div class="column">${week.available}</div>
        </div>
    </div>
</template>
