#activity-detail-container {
    .button-container {
        padding: 0;
        display: inline-block;

        &.fixed {
            transition: all 0.5s ease;
            position: fixed;
            padding: 1em;
            background-color: #fff;

            @media only screen and (max-width: 1199px) and (min-width: 992px) {
                width: 933px;   
            }
        }
    }

    &.new .journal {
        display: none;
    }
}

#activities-list {
    & > .filters.expanded {
        .button.positive {
            margin-bottom: 10px;
        }
    }

    & > .filters.collapsed {
        @media only screen and (max-width: 767px) {
            .ui.clearing.divider,
            .filter-grid {
                display: none;
            }
        }
    }

    .card {

        &.in-progress {
            background-color: rgba(223, 240, 216, 0.6);
        }

        &.overdue {
            background-color: rgba(242, 222, 222, 0.6);
        }

        &.incomplete,
        &.complete {
            .header {
                opacity: 0.45;
            }
            .dropdown.icon {
                display: none;
            }
        }
    }
}