<template>
    <div class="ui card ${colour} ${statusClass}">
        <div class="content">
            <div class="header">
                <a route-href="route: activity-detail; params.bind: { id: activity._id }">
                    ${activity.name}
                </a>
            </div>
            <div class="meta">                
                <div class="ui inline dropdown assigned-to">
                    <div class="text">${assignedToDisplay}</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" repeat.for="user of users">${user}</div>
                    </div>
                </div>
            </div>
            <div class="description">
                <p show.bind="activity.description">Description: ${activity.description}</p>
                <p show.bind="activity.crops.length">Crop${activity.crops.length > 1 ? 's' : ''}: ${cropNames}</p>
                <p show.bind="zoneNames">Zone${activity.zones.length > 1 ? 's' : ''}: ${zoneNames}</p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui inline dropdown status">
                <div class="text">${activity.status}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" repeat.for="status of statuses" data-value.one-time="status.status">
                        ${status.text}
                    </div>
                </div>
            </div>
            <div class="ui right floated">
                <span>${dateDisplay}</span>
                &nbsp;
                <a class="ui calendar snooze" data-tooltip="Change due date">
                    <i class="calendar button icon"></i>
                </a>
            </div>
        </div>
    </div>
</template>