<template>
    <require from="styles/activities.css"></require>

    <div class="ui">
        <div class="button-container">
            <button type="button" class="ui basic red button text-nowrap" click.delegate="delete()" data-tooltip="Click to Delete this Activity" data-position="bottom right" hide.bind="activity.isNew">
                <i class="trash button icon"></i>
                Delete
            </button>
            <button type="button" class="ui basic button" click.delegate="addJournal()" data-tooltip="Click to record a Journal entry for this Activity" data-position="bottom right">
                <i class="browser icon"></i>
                Add Journal
            </button>
            <a class="ui basic button" route-href="route: activities">Cancel</a>
            <button type="button" class="ui basic primary button" click.delegate="save()">
                <i class="save button icon"></i>
                Save
            </button>
        </div>

        <h2>${title}</h2>

        <form class="ui form segment ${errors.length ? 'error' : ''}">                
            <div class="fields row">
                <div class="required field eight wide">
                    <label for="name">Name</label>
                    <input type="text" id="name" value.bind="activity.name" attach-focus="true">
                </div>
                <div class="field four wide">
                    <label>Due Date</label>
                    <div class="calendar">
                        <span class="date-display">${activity.dateDisplay}</span>
                    </div>
                </div>
            </div>
            <div class="fields row">
                <div class="field eight wide">
                    <label for="assignedTo">Assigned To</label>
                    <div class="ui search selection dropdown assignedTo">
                        <input type="hidden" id="assignedTo">
                        <i class="dropdown icon"></i>
                        <div class="text"></div>
                        <div class="menu">
                            <div class="item" data-value="">Unassigned</div>
                            <div repeat.for="u of users" class="item">${u.name}</div>
                        </div>
                    </div>
                </div>
                <div class="field eight wide">
                    <label for="workType">Work Type</label>
                    <div class="ui search selection dropdown workType">
                        <input type="hidden" id="workType">
                        <i class="dropdown icon"></i>
                        <div class="text"></div>
                        <div class="menu">
                            <div repeat.for="wt of workTypes" class="item">${wt}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields row">
                <div class="field eight wide">
                    <label for="crop">Crop</label>
                    <select id="crop" class="ui fluid search dropdown crop" multiple>
                        <option value="">Select Crop(s)</option>
                        <option repeat.for="o of orders" value="${o}">${o}</option>
                    </select>
                </div>
                <div class="field eight wide">
                    <label for="zone">Zone</label>
                    <select id="zone" class="ui fluid search dropdown zone" multiple>
                        <option value="">Select Zone(s)</option>
                        <option repeat.for="z of zones" value="${z.name}">${z.name}</option>
                    </select>
                </div>
            </div>
            <div class="fields row">
                <div class="field eight wide">
                    <label for="recordingType">Recording Type</label>
                    <div class="ui search selection dropdown recording-type">
                        <input type="hidden" id="recordingType">
                        <i class="dropdown icon"></i>
                        <div class="text"></div>
                        <div class="menu">
                            <div repeat.for="t of journalRecordingTypes" class="item">${t}</div>
                        </div>
                    </div>
                </div>
                <div class="field four wide" show.bind="isMeasurement">
                    <label for="unitOfMeasure">Units:</label>
                    <input type="text" id="unitOfMeasure" value.bind="activity.unitOfMeasure">
                </div>
            </div>
            <div class="fields row">
                <div class="required field sixteen wide">
                    <label for="description">Description</label>
                    <textarea id="description" value.bind="activity.description"></textarea>
                </div>                    
            </div>
            <div class="ui divider">&nbsp;</div>
            </div>
            <div class="ui error message" show.bind="errors.length">
                <ul class="ui list" repeat.for="e of errors">
                    <li>${e}</li>
                </ul>
            </div>
        </form>        
    </div>
</template>
