<template>
    <require from="styles/activities.css"></require>

    <div class="ui segments">
        <div class="ui segment stackable grid">
            <h2 class="ui header four wide column">Activities</h2>
            <div class="eight wide column">
                <div class="ui toggle checkbox left floated" show.bind="canShowAll">
                    <input type="checkbox" id="showall" checked.bind="showAll">
                    <label for="repeating-order">Show All Users</label>
                </div>
            </div>
            <div class="four wide column text-right">
                <a class="basic ui positive button" route-href="route: activity-detail; params.bind: { id: 'new' }">
                    <i class="plus icon"></i>
                    Add Activity
                </a>
            </div>
        </div>
        <div class="ui secondary segment">
            <table class="ui single line table">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Due Date</th>
                        <th>Assigned To</th>
                        <th>Work Type</th>
                        <th>Recipe</th>
                        <th>Crop</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="a of activities | sort:'date'">
                        <td>
                            <a route-href="route: activity-detail; params.bind: { id: a._id }">${a.name}</a>
                        </td>
                        <td>${a.dateDisplay}</td>
                        <td>${a.assignedToDisplay}</td>
                        <td></td>
                        <td></td>
                        <td>${a.crop}</td>
                        <td>${a.status}</td>
                        <td>
                            <a route-href="route: journal-detail; params.bind: { id: a._id }">Journal</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>