<template>
    <require from="styles/activities.css"></require>
    <require from="./activity-card"></require>

    <div class="ui" id="activities-list">
        <div class="filters ui clearing segment ${filtersExpanded ? 'expanded' : 'collapsed'}">
            <a class="basic ui positive icon button left floated" route-href="route: activity-detail; params.bind: { id: 'new' }">
                <i class="plus icon"></i>
                Add Activity
            </a>
            <button class="ui icon button basic right floated hide-desktop mini" click.trigger="toggleFiltersExpanded()">
                <i class="dropdown icon ${filtersExpanded ? 'vertically flipped' : ''}"></i>
            </button>
            <div class="ui clearing divider"></div>
            <div class="filter-grid ui two column grid stackable container">
                <div class="column">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="showall" checked.bind="showAll">
                        <label for="showall">Show All Users</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="showcomplete" checked.bind="showCompleted">
                        <label for="showcomplete">Show Completed Items</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="showincomplete" checked.bind="showIncomplete">
                        <label for="showincomplete">Show Incomplete Items</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui cards" show.bind="activities.length">
            <div as-element="activity-card" class="ui card ${a.colour}" activity.bind="a" repeat.for="a of activities | sort:'date'"></div>
        </div>
        <div class="ui message" hide.bind="activities.length">
            <div class="header">No Activities</div>
            <p>
                There aren't any Activities. You can change the filters above, or
                <a route-href="route: activity-detail; params.bind: { id: 'new' }">add an activity</a> now.
            </p>
        </div>
    </div>
</template>