<template>
    <require from="styles/activities.css"></require>
    <require from="./activity-card"></require>

    <div class="ui" id="activities-list" ref="el">
        <div class="filters ui clearing segment ${filtersExpanded ? 'expanded' : 'collapsed'}">
            <a class="basic ui positive icon button left floated" route-href="route: activity-detail; params.bind: { id: 'new' }">
                <i class="plus icon"></i>
                New Activity
            </a>
            <a class="basic ui secondary icon button right floated" route-href="route: activities-by-crop">
                <i class="icon tree"></i>
                <span class="hide-mobile">By Crop</span>
            </a>
            <a class="basic ui secondary icon button right floated" route-href="route: activities-by-recipe">
                <i class="icon address card outline"></i>
                <span class="hide-mobile">By Recipe</span>
            </a>
            <button class="ui icon button basic right floated hide-desktop mini" click.trigger="toggleFiltersExpanded()">
                <i class="dropdown icon ${filtersExpanded ? 'vertically flipped' : ''}"></i>
            </button>
            <div class="ui clearing divider"></div>
            <div class="filter-grid ui two column grid stackable container">
                <div class="column">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="showall" checked.bind="showAll">
                        <label for="showall">Show All Users</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="showcomplete" checked.bind="showCompleted">
                        <label for="showcomplete">Show Completed Items</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="showincomplete" checked.bind="showIncomplete">
                        <label for="showincomplete">Show Incomplete Items</label>
                    </div>
                </div>
                <div class="column">
                    <span>
                        Work Types:
                        <div class="ui inline dropdown work-type">
                            <div class="text">All</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" repeat.for="workType of workTypes">${workType}</div>
                            </div>
                        </div>                        
                    </span>
                </div>
                <div class="column">
                    <label for="week">Week:</label>
                    <div class="ui inline dropdown week">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" repeat.for="week of weeks" data-value="${week.id}">${week.text}</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <label for="week">Zone:</label>
                    <div class="ui inline dropdown zone">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" repeat.for="zone of zones">${zone}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui cards" show.bind="activities.length">
            <activity-card users.bind="users" activity.bind="a" repeat.for="a of activities | sort:'date'"></activity-card>
        </div>
        <div class="ui message" hide.bind="activities.length">
            <div class="header">No Activities</div>
            <p>
                There aren't any Activities. You can change the filters above, or
                <a route-href="route: activity-detail; params.bind: { id: 'new' }">add an activity</a> now.
            </p>
        </div>
    </div>
</template>